div(class="bg-white shadow rounded-lg text-center")
  img(class="object-cover h-72 w-full" src=`/uploads/${propiedad.imagen}` alt=`Imagen Casa ${propiedad.titulo}`)
  h3(class="text-2xl font-bold")= propiedad.titulo 
  div(class="p-5 flex justify-between items-center")
    div
      img(src="/img/dormitorio.svg" alt="ico_hab")
      p
        span(class="text-gray-800 font-bold")= propiedad.habitaciones
    div
      img(src="/img/wc.svg" alt="ico_wc")
      p
        span(class="text-gray-800 font-bold")= propiedad.wc
    div
      img(src="/img/estacionamiento.svg" alt="ico_est")
      p
        span(class="text-gray-800 font-bold")= propiedad.estacionamiento
    div
      img(src="/img/area.svg" alt="ico_est")
      p
        span(class="text-gray-800 font-bold")= propiedad.estacionamiento
    div
      img(src="/img/area.svg" alt="ico_est")
      p
        span(class="text-gray-800 font-bold")= propiedad.estacionamiento
  a(href=`/propiedad/${propiedad.id}` class="bg-dkblue-900 w-full text-center block font-bold text-white p-2 uppercase rounded mb-2") Ver Propiedad