extends ../layout/admin

block contenido 
    section(class="py-1")
      div(class="p-2")
        div(class="p-2 flex  justify-center")  
          img(src=`/uploads/profiles/${usuario.imgPerfil}` alt=`Img de ${usuario.nombre}` class="w-24 h-24 rounded-full items-center")
        div(class="py-2")
          a(href="/mis-propiedades" class="rounded py-2 bg-dkblue-800 hover:bg-dkblue-900 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Mis Propiedades
        fieldset(class="py-2 border border-dkblue-900 flex flex-col")
          legend(class="font-semibold text-lg p-1 text-dkblue-800") Información Basica  
          p(class="font-semibold text-lg p-1") Usuario:  
            span(class="font-normal" )= usuario.nombre
          p(class="font-semibold text-lg p-1" ) Email: 
            span(class="font-normal")= usuario.email
          p(class="font-semibold text-lg p-1" ) Nivel de Subscripcion: 
            span(class="font-normal")= roles.nombre
          p(class="font-semibold text-lg p-1" ) Inicio de Suscripcion: 
            span(class="font-normal") 01/09/23
          p(class="font-semibold text-lg p-1" ) Fin de Suscripcion: 
            span(class="font-normal") 01/10/23
        div(class="py-2 flex")
          a(href="/adm/subscripcion" class="rounded py-2 bg-green-500 hover:bg-green-600  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Subscripciónes Premium
        div(class="py-2 flex")
          a(href="/adm/prueba" class="rounded py-2 bg-orange-500 hover:bg-orange-600  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Prueba Premium
        fieldset(class="py-2 border border-dkblue-900 flex flex-col ")
          legend(class="font-semibold text-lg p-1 text-dkblue-800") Gestionar
          p(class="font-semibold text-lg p-1" ) Cambiar Password
          p(class="font-semibold text-lg p-1" ) Cuentas Externas
        div(class="py-2")
          form(action="/auth/cerrar-sesion" method="POST")
            input(type="hidden" name="_csrf" value= csrfToken)
            input(type="submit" class="rounded py-2 bg-dkred-600 hover:bg-dkred-800 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto" value="Cerrar Sesión")
        div(class="h-9")