extends ../layout/admin
block styles 
  script(src="/js/freeSub.js")
   
block contenido 
    section(class="py-1")
      div(class=" bg-white p-2")
        div(class="md:grid md:grid-cols-2 md:gap-2")
          div(class="py-2")
            a(href="/mis-propiedades" class="rounded py-2 bg-dkblue-800 hover:bg-dkblue-900 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full ") Mis Propiedades
          //- div(class="py-2")
            a(href="/adm/subscripcion" class="rounded py-2 bg-green-500 hover:bg-green-600  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full ") Subscripci贸nes Premium
          div(class="py-2 ")
            form(action="/auth/cerrar-sesion" method="POST")
              input(type="hidden" name="_csrf" value= csrfToken)
              input(type="submit" class="rounded py-2 bg-dkred-600 hover:bg-dkred-800 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full " value="Cerrar Sesi贸n")
          if !prueba
            div(class="py-2")
              form( method="POST" action=`/adm/prueba/${id}` )
                input(class="hidden" id="id" value=`${id}`)
                button(id="pfree" class="rounded py-2 bg-orange-500 hover:bg-orange-600  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full " type="submit") Prueba Premium
        div(class="md:grid md:grid-cols-2 md:gap-2" )
          fieldset(class="py-2 border border-dkblue-900 flex")
            legend(class="font-semibold text-lg p-1 text-dkblue-800") Informaci贸n Basica  
            div(class="p-2 flex justify-center")  
              img(src=`/uploads/profiles/${imgPerfil}` alt=`Img de ${nombre}` class="w-24 h-24 rounded-full items-center")
            div  
              p(class="font-semibold text-lg p-1") Usuario:   
                span(class="font-normal" )= nombre
              p(class="font-semibold text-lg p-1" ) Email: 
                span(class="font-normal")= email
          fieldset(class="py-2 border border-dkblue-900 flex flex-col")
            legend(class="font-semibold text-lg p-1 text-dkblue-800") Informaci贸n de Subscripcion
            p(class="font-semibold text-lg p-1" ) Subscripcion: 
              span(class="font-normal")= nombreS
            //- p(class="font-semibold text-lg p-1" ) Inicio de Suscripcion: 
            //-   span(class="font-normal")= formatearFecha(createdAt)
            p(class="font-semibold text-lg p-1" ) Fin de Suscripcion: 
              span(class="font-normal")= formatearFecha(endSub)
          fieldset(class="py-2 border border-dkblue-900 flex flex-col ")
            legend(class="font-semibold text-lg p-1 text-dkblue-800") Otros
            p(class="font-semibold text-lg p-1" ) Cuentas Externas
          fieldset(class="py-2 border border-dkblue-900 flex flex-col ")
            legend(class="font-semibold text-lg p-1 text-dkblue-800") Gestionar
            p(class="font-semibold text-lg p-1" ) Cambiar Password
        div(class="h-9")